<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>993189889765-2lc4qr1k12986uql3pfgjnqt50p27chq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993189889765-2lc4qr1k12986uql3pfgjnqt50p27chq</string>
	<key>API_KEY</key>
	<string>AIzaSyBX6uTn1YZ5SzKQsKgaukoN4Z0005MHEkU</string>
	<key>GCM_SENDER_ID</key>
	<string>993189889765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterbolao</string>
	<key>PROJECT_ID</key>
	<string>bolao-da-copa-2018-c63ad</string>
	<key>STORAGE_BUCKET</key>
	<string>bolao-da-copa-2018-c63ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993189889765:ios:5a41a00d56adcd35</string>
	<key>DATABASE_URL</key>
	<string>https://bolao-da-copa-2018-c63ad.firebaseio.com</string>
</dict>
</plist>